<h3>Contact us:</h3>
<form action="" method="post">
	<input type="text" class="form-control" name="name" placeholder="Your Name"><br>
	<input type="text" class="form-control" name="email" placeholder="Your Email"><br>
	<textarea name="message" class="form-control" placeholder="Your Message"></textarea><br>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
</form>